@charset "UTF-8";
:root {
  --gray: #C4C4C4;
  --orange: #EEB156;
  --light-orange: #eeb156b6;
  --white: #FFFFFF;
  --black: #000000;
  --teal: #008080;
}


* {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.text-center {
  text-align: center !important;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #fff;
}

.masthead {
  width: auto;
  margin: 0 auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1))
}

.masthead .masthead-heading {
  font-size: 66px;
  font-weight: 900;
  padding-top: 340px;
  color: #fff;
}

.masthead .masthead-subheading {
  font-size: 32px;
  padding-bottom: 95px;
  color: #fff;
}

.download-section {
  width: auto;
  margin: 0 auto;
  background-color:#eeb156b6;
}

#videoBG {
  position: absolute;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  height: 897px;
}

.container {
  width: 100vw;
  height: 100vh;
}

.videoWrapper {
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}

video {
  width: 100vw;
  height: 100vh;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #EEB156;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 3.5rem;
  font-size: 1.5rem;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
  background-color: #eeb156b6;
  border: 1px solid #008080;
}

.logos .xrlablogo {
  height: 70px;
  width: auto;
}

.logos img {
  height: 60px;
  width: auto;
}

.logos {
  padding-top: 150px;
  padding-bottom: 30px;
}

.logos ul{
  position: relative;
  display: flex;
  justify-content:space-around;
  width: 100%;
}
@media (max-width: 639px) {
  #videoBG {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    height: 976px;
  }
  .logos img {
    height: 40px;
    width: auto;
  }
  .logos .xrlablogo {
    height: 50px;
    width: auto;
  }
}
@media (max-width: 617px) {
  #videoBG {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    height: 980px;
  }
  .logos img {
    height: 40px;
    width: auto;
  }
  .logos .xrlablogo {
    height: 50px;
    width: auto;
  }
}
@media (max-width: 390px) {
  #videoBG {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    height: 1013px;
  }
  .logos img {
    height: 30px;
    width: auto;
  }
  .logos .xrlablogo {
    height: 40px;
    width: auto;
  }
}
@media (max-width: 389px) {
  #videoBG {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    height: 1113px;
  }
  .logos img {
    height: 30px;
    width: auto;
  }
  .logos .xrlablogo {
    height: 40px;
    width: auto;
  }
}

.project-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.project-description {
  width: 50%;
}

.project-text {
  font-size: 18px;
}

@media (max-width: 768px) {
  .project-description {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .project-text {
    font-size: 14px;
  }
}

.download-section .download-heading {
  font-size: 48px;
  padding: 50px;
}

.download-section .download-text {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.box h1 {
  padding-top: 30px;
  padding-left: 35px;
  padding-bottom: 38px;
  font-size: 36px;
  text-align: left;
  width: 100%;
}

.box .one {
  padding-top: 45px;
  font-size: 18px;
  text-align: left;
  margin-left: 20px;
  width: 100%;
}

.box .two {
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.box .three {
  font-size: 18px;
  text-align: left;
  margin-left: 20px;
  width: 100%;
}

.box {
  background-color: #FFFFFF;
  width: 532px;
  height: 342px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  margin-bottom: 56px;
}
@media (max-width: 406px) {
  .box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 355px;
  }
}
@media (max-width: 257px) {
  .box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 380px;
  }
}
@media (max-width: 217px) {
  .box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 410px;
  }
}

.footer {
  padding: 1.5rem;
}

.copyright {
  font-size: 24px;
}

#parent{
  position: relative;
}

.vid {
  position: absolute;
  top: 105px; 
  left: 305px;
}

.video-size {
  width: 70%;
  filter: drop-shadow(15px 30px 15px #3d3d3d);
}

@media (max-width: 975px) {
  .video-size {
    width: 70%;
    filter: drop-shadow(15px 20px 15px #3d3d3d);
  }
}
@media (max-width: 800px) {
  .video-size {
    width: 70%;
    filter: drop-shadow(10px 10px 15px #3d3d3d);
  }
}
@media (max-width: 575px) {
  .video-size {
    width: 70%;
    filter: drop-shadow(10px 5px 15px #3d3d3d);
  }
}
@media (max-width: 575px) {
  .video-size {
    width: 70%;
    filter: drop-shadow(7px 3px 15px #3d3d3d);
  }
}
@media (max-width: 575px) {
  .video-size {
    width: 70%;
    filter: drop-shadow(5px 2px 15px #3d3d3d);
  }
}
@media (max-width: 360px) {
  .video-size {
    width: 70%;
    filter: drop-shadow(5px 1px 15px #3d3d3d);
  }
}
.responsive {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
}
.responsive iframe{
  box-sizing: border-box;
  background: url(https://i.imgur.com/JrR6LsX.png) center center no-repeat;
  background-size: contain;
  padding: 11.3% 14.1% 13.5% 15.7%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1750px) {
  .responsive iframe {
    box-sizing: border-box;
    background: url(https://i.imgur.com/JrR6LsX.png) center center no-repeat;
    background-size: contain;
    padding: 11.8% 14.1% 14.2% 15.7%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1350px) {
  .responsive iframe {
    box-sizing: border-box;
    background: url(https://i.imgur.com/JrR6LsX.png) center center no-repeat;
    background-size: contain;
    padding: 12.1% 14.1% 14.5% 15.7%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 575px) {
  .responsive iframe {
    box-sizing: border-box;
    background: url(https://i.imgur.com/JrR6LsX.png) center center no-repeat;
    background-size: contain;
    padding: 13.8% 14.1% 15.7% 15.7%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 400px) {
  .responsive iframe {
    box-sizing: border-box;
    background: url(https://i.imgur.com/JrR6LsX.png) center center no-repeat;
    background-size: contain;
    padding: 15% 14.1% 17.9% 15.7%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}