/* Master Settings */

@charset "UTF-8";
:root {
  --gray: #F3F3F3;
  --dark-gray:#808080;
  --orange: #EEB156;
  --light-orange: #eeb156b6;
  --white: #FFFFFF;
  --black: #000000;
  --teal: #008080;
}


* {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.text-center {
  text-align: center !important;
}

/* Text Settings */ 

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #fff;
}

.masthead {
  width: auto;
  margin: 0 auto;
  background: rgb(0, 0, 0, .5);
  background: linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,1))
}

.masthead .masthead-heading {
  font-size: 66px;
  font-weight: 900;
  padding-top: 340px;
  color: #fff;
}

.masthead .masthead-subheading {
  font-size: 32px;
  padding-bottom: 95px;
  color: #fff;
}

.download-section {
  width: auto;
  margin: 0 auto;
  background: radial-gradient(91.53% 284.34% at 5.97% 120.81%, #EEB156 0%, rgba(255, 246, 229, 0) 0.01%, rgba(255, 168, 5, 0.53) 95.13%);
}

/* Video Section */

#videoBG {
  position: absolute;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  height: 897px;
}

.container {
  width: 100vw;
  height: 100vh;
}

.videoWrapper {
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}

video {
  width: 100vw;
  height: 100vh;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #EEB156;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 3.5rem;
  font-size: 20px;
  white-space: nowrap;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
  background-color: #eeb156b6;
  border: 1px solid #008080;
}

.logos .xrlablogo {
  height: 70px;
  width: auto;
}

.logos img {
  height: 60px;
  width: auto;
}

.logos {
  padding-top: 150px;
  padding-bottom: 30px;
  padding-left: 29px;
}

.logos ul{
  position: relative;
  display: flex;
  justify-content:space-around;
  width: 100%;
}
@media (max-width: 639px) {
  #videoBG {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    height: 976px;
  }
  .logos img {
    height: 40px;
    width: auto;
  }
  .logos .xrlablogo {
    height: 50px;
    width: auto;
  }
}
@media (max-width: 617px) {
  #videoBG {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    height: 980px;
  }
  .logos img {
    height: 40px;
    width: auto;
  }
  .logos .xrlablogo {
    height: 50px;
    width: auto;
  }
}
@media (max-width: 390px) {
  #videoBG {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    height: 1013px;
  }
  .logos img {
    height: 30px;
    width: auto;
  }
  .logos .xrlablogo {
    height: 40px;
    width: auto;
  }
}
@media (max-width: 389px) {
  #videoBG {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    height: 1113px;
  }
  .logos img {
    height: 30px;
    width: auto;
  }
  .logos .xrlablogo {
    height: 40px;
    width: auto;
  }
}

/******** Main Website Body Section ********/ 

/* Project Introduction */
.project-section {
  padding-top: 100px;
  background: #FFF6E6;
}

.project-description {
  max-width: 60%;
  padding-left: 100px ;
}

.project-title {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 25px;
}

.project-text {
  font-size: 18px;
  padding-bottom: 25px;
}
.project-features-link {
  font-size: 18px;
  padding-bottom: 25px;
  color: #eeb156;
  font-weight: 700;
}

@media (max-width: 768px) {
  .project-description {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .project-text {
    font-size: 14px;
  }
}

/* Download Section */

.download-section .download-heading {
  font-size: 40px;
  font-weight: 600;
  padding: 50px;
  width: 45%;
}

.download-section .download-text {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 50px;
}

/* Preview Section Styles */

.preview-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #ffffff;
}

/* Middle Preview-1 Section */

.preview-section .preview-1 {
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.preview-section .preview-1 .preview-1-text{
  position: relative;
  width: 447px;
  height: 282px;
  top: 100px;
  left: 75px;
  padding-left: 10%;
}

.preview-1-title{
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 25px;
}

.preview-1-description{
  font-size: 18px;
  padding-bottom: 25px;
}

.preview-1-image{
  position: relative;
  top: 0px;
  left: -75px;
  z-index: 3;
}

.preview-1-gradient{
  position: relative;
  background: linear-gradient(201.09deg, #FFD17A 4.99%, rgba(255, 209, 122, 0) 146.21%);
  width: 251px;
  height: 850px;
  left: -250px;
  top: -300px;
  z-index: 2;
}

/* Features Link Animation*/

.features-link-animation{
  font-size: 18px;
  padding-bottom: 25px;
  color: #eeb156;
  font-weight: 700;
}

/* Middle Preview-2 Section */

.preview-section .preview-2 {
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.preview-section .preview-2 .preview-2-text{
  position: relative;
  width: 447px;
  height: 282px;
  top: 100px;
  left: 75px;
  padding-left: 10%;
}

.preview-2-title{
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 25px;
}

.preview-2-description{
  font-size: 18px;
  padding-bottom: 25px;
}

.preview-2-image{
  position: relative;
  top: 0px;
  left: 75px;
  z-index: 3;
}

.preview-2-gradient{
  position: relative;
  background: linear-gradient(201.09deg, #FFD17A 4.99%, rgba(255, 209, 122, 0) 146.21%);
  width: 251px;
  height: 850px;
  left: -250px;
  top: -300px;
  z-index: 2;
}

/* Features Link Animation*/

.features-link-animation{
  font-size: 18px;
  padding-bottom: 25px;
  color: #eeb156;
  font-weight: 700;
}

/* Middle Preview-3 Section */

.preview-section .preview-3 {
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.preview-section .preview-3 .preview-3-text{
  position: relative;
  width: 447px;
  height: 70%;
  top: 100px;
  left: 75px;
  padding-left: 10%;
}

.preview-3-title{
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 25px;
}

.preview-3-description{
  font-size: 18px;
  padding-bottom: 25px;
}

.preview-3-image{
  position: relative;
  top: 0px;
  left: -75px;
  z-index: 3;
}

.preview-3-gradient{
  position: relative;
  background: linear-gradient(201.09deg, #FFD17A 4.99%, rgba(255, 209, 122, 0) 146.21%);
  width: 251px;
  height: 850px;
  left: -250px;
  top: -300px;
  z-index: 2;
}

/* Features Link Animation*/

.features-link-animation{
  font-size: 18px;
  padding-bottom: 25px;
  color: #eeb156;
  font-weight: 700;
}

/* Middle Preview-4 Section */

.preview-section .preview-4 {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.preview-section .preview-4 .preview-4-text{
  position: relative;
  width: 447px;
  height: 282px;
  top: 100px;
  left: 75px;
  padding-left: 10%;
}

.preview-4-title{
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 25px;
}

.preview-4-description{
  font-size: 18px;
  padding-bottom: 25px;
}

.preview-4-image{
  position: relative;
  top: 0px;
  left: 75px;
  z-index: 3;
}

.preview-4-gradient{
  position: relative;
  background: linear-gradient(201.09deg, #FFD17A 4.99%, rgba(255, 209, 122, 0) 146.21%);
  width: 251px;
  height: 850px;
  left: -250px;
  top: -300px;
  z-index: 2;
}

/* Features Link Animation*/

.features-link-animation{
  font-size: 18px;
  padding-bottom: 25px;
  color: #eeb156;
  font-weight: 700;
}

.box .header {
  padding-top: 30px;
  padding-left: 35px;
  padding-bottom: 38px;
  font-size: 36px;
  text-align: left;
  width: 100%;
}

.box .one {
  padding-top: 45px;
  font-size: 18px;
  text-align: left;
  margin-left: 35px;
  width: 100%;
}

.box .two {
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.box .three {
  font-size: 18px;
  text-align: left;
  margin-left: 35px;
  width: 100%;
  /* color: #808080;
  text-decoration: underline; */
}

.box {
  background-color: #FFFFFF;
  width: 532px;
  height: 342px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  margin-bottom: 56px;
}
@media (max-width: 1124px) {
  .box {
    background-color: #FFFFFF;
    width: 450px;
    height: 342px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    margin-bottom: 56px;
  }
}
@media (max-width: 406px) {
  .box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 355px;
  }
}
@media (max-width: 257px) {
  .box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 380px;
  }
}
@media (max-width: 217px) {
  .box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 410px;
  }
}

.footer {
  padding: 1.5rem;
}

.copyright {
  font-size: 24px;
}

#parent{
  position: relative;
}

.vid {
  position: absolute;
  top: 105px; 
  left: 305px;
}

.video-size {
  width: 70%;
}

@media (max-width: 975px) {
  .video-size {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .video-size {
    width: 70%;
  }
}
@media (max-width: 575px) {
  .video-size {
    width: 70%;
  }
}
@media (max-width: 575px) {
  .video-size {
    width: 70%;
  }
}
@media (max-width: 575px) {
  .video-size {
    width: 70%;
  }
}
@media (max-width: 360px) {
  .video-size {
    width: 70%;
  }
}
.responsive {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
}

.responsive iframe{
  box-sizing: border-box;
  padding: 5.4% 14.3% 19.5% 15.8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  user-select: none;
}
/* .responsive video::-webkit-media-controls-fullscreen-button {
  display: none;
} */
@media (max-width: 1920px) {
  .responsive iframe {
    padding: 5.4% 14.3% 20.1% 15.8%;
  }
}
@media (max-width: 1750px) {
  .responsive iframe {
    padding: 5.4% 14.3% 20.1% 15.8%;
  }
}
@media (max-width: 1350px) {
  .responsive iframe {
    padding: 5.4% 14.3% 20.7% 15.8%;
  }
}
@media (max-width: 1024px) {
  .responsive iframe {
    padding: 5.4% 14.3% 21.5% 15.8%;
  }
}
@media (max-width: 768px) {
  .responsive iframe {
    padding: 5.4% 14.3% 22.7% 15.8%;
  }
}
@media (max-width: 575px) {
  .responsive iframe {
    padding: 5.4% 14.3% 24.4% 15.8%;
  }
}
@media (max-width: 420px) {
  .responsive iframe {
    padding: 5.4% 14.3% 26.4% 15.8%;
  }
}
@media (max-width: 320px) {
  .responsive iframe {
    padding: 5.4% 14.3% 29.2% 15.8%;
  }
}

.feedback {
  background: #F3F3F3;
  width: 100%;
  height: 240px;
}

.feedback p {
  font-size: 18px;
  padding-top: 70px;
  padding-bottom: 50px;
}